name: format

on:
  push:
    branches: [ "main" ]
  pull_request:

jobs:
  run-pre-commit:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v6
        with:
          submodules: recursive

      - uses: pre-commit/action@v3.0.1
        name: 'Run pre-commit'
